<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GiveMeAGift</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
<center>
    <h1>Желания, которые вы забронировали!</h1>
    <br>
    {% if booked|length > 1 %}
    {% for item in wishes[::-1]%}
    {% if item.id in booked%}
    <link href="../static/css/card_style.css" rel="stylesheet">
    <div class="card card-cover h-100 w-50 rcorners">

        {% set id = item.user.id%}


        {% if item.user.picture %}
        <h2 align="left">{{item.title}} <a href="/profile/{{ id }}"> <img src="{{ item.user.picture }}" alt="Аватарка"
                                                                          width="64"
                                                                          height="64"
                                                                          align="right"
                                                                          class="rounded-circle avatar"></a></h2>
        {%else%}
        <h2 align="left">{{item.title}} <a href="/profile/{{ id }}"> <img src="../static/img/null_user.png"
                                                                          alt="Аватарка"
                                                                          width="64"
                                                                          height="64"
                                                                          align="right"
                                                                          class="rounded-circle avatar"></a></h2>
        {% endif %}


        <div align="left">
            {{item.description}}
        </div>
        <br>
        {% if item.main_picture %}
        <div>
            <img src="{{ item.main_picture }}" width="200px" alt="здесь картинка">
        </div>
        {% endif %}
        <br>
        <div id="container">
            <div style="float:right">
                <h5>Дата: {{ item.create_date }}</h5>
            </div>
            <div style="float:left;">
                <h5>Автор: {{ item.user.name }}</h5>
            </div>

        </div>
        <a href="/wish_is_ready/{{ item.id }}" class="btn btn btn-success">Нажмите сюда, если вы исполнили это желание</a>
        <br>
        <a href="/unbook_wish/{{ item.id }}" class="btn btn btn-warning">Нажмите сюда, если не хотите выполнять это желание</a>
    </div>
    <br>

    {% endif %}
    {% endfor %}
    {% else %}
    {% if current_user.is_authenticated %}
    <br><br><br>
    <h4 style="color:#0071b8"><------------------------------------------------------------------------------></h4>
    <h4 style="color:#0071b8">Все забронированные вами желания будут отображаться здесь!</h4>
    <h4 style="color:#0071b8"><------------------------------------------------------------------------------></h4>
    <br><br><br>
    {% else %}
    <br><br><br>
    <h4 style="color:#0071b8"><-------------------------------------------------------------------------------></h4>
    <h4 style="color:#0071b8">Зарегистрируйтесь и все забронированные вами желания окажутся здесь!</h4>
    <h4 style="color:#0071b8"><-------------------------------------------------------------------------------></h4>
    <br><br><br>
    {% endif %}
    {% endif %}

</center>
{% endblock %}


</body>
</html>